.statistics-container {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 10px 30px;
}

.statistics-left {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.first-row,
.second-row {
  display: flex;
  flex-direction: row;
  height: auto; 
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 10px;
  padding: 5px;
}

.statistics-right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10px 0;
}

.statistics-right a {
  color: black;
}

.statistics-right h1 {
  font-weight: 300;
  font-size: clamp(30px, 10vw, 55px);
}

.statistics-right p {
  max-width: 80%;
  font-size: clamp(12px, 3vw, 15px); 
  line-height: 1.4;
}

@media (max-width: 430px) {
  .statistics-container {
    flex-direction: column;
    padding: 10px;
  }

  .statistics-left {
    width: 100vw;
    padding: 0;
  }

  .first-row,
  .second-row {
    flex-direction: column;
    margin: 15px 0;
  }

  .statistic {
    margin: 10px 0;
  }

  .statistic h1 {
    font-size: 28px;
  }

  .statistic p {
    font-size: 12px;
    max-width: 100%;
  }

  .statistics-right {
    width: 100vw;
    align-items: center;
    padding: 10px;
  }

  .statistics-right h1 {
    font-size: 28px;
  }

  .statistics-right p {
    font-size: 12px;
    text-align: center;
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .statistics-container {
    flex-direction: column;
  }

  .statistics-left,
  .statistics-right {
    width: 100%;
  }

  .first-row,
  .second-row {
    flex-direction: column;
  }

  .statistic {
    margin: 10px 0;
  }

  .statistics-right h1 {
    font-size: 40px;
  }

  .statistics-right p {
    font-size: 14px;
  }
}