.page-container{
display: flex;
flex-direction: column;
height: 600px;
justify-content: space-evenly;
align-items: center;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
url("../../assets/none-background.jpg");
background-repeat: no-repeat; 
background-position: center;
} 

.page-container h1{ 
    font-weight: 400;
    font-size: 68px;
    color: #ffffff;
}

.page-container p {
    font-size: 20px;
    color: #ffffff;
}

.page-container button{
     color: #ffffff;
     transition: 1s;
     background-color: #000000;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     border-radius: 50px;
     border: 1px;
     font-size: 18px;
     height: 50px;
     width: 200px;
}

.page-container button:hover{
    color: #000000;
    transition: 1s;
    background-color: #ffffff;
    height: 50px;
    width: 250px;
}

 
@media (width <= 425px) {
    .page-container{
        display: flex;
        flex-direction: column;
        height: 500px;

        } 

}

@media (width <= 320px) {
    .page-container{
        width: 100vw;
        padding-left: 10px;
    }
    
    .page-container h1{ 
        font-weight: 400;
        font-size: 20px;
     
    }
    
    .page-container p {
        font-size: 17px;
    }
    
    .page-container button{
         color: #ffffff;
         transition: 1s;
         background-color: #000000;
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;
         border-radius: 50px;
         border: 1px;
         font-size: 18px;
         height: 50px;
         width: 200px;
    }
    
    .page-container button:hover{
        color: #000000;
        transition: 1s;
        background-color: #ffffff;
        height: 50px;
        width: 250px;
    }

    @media (max-width: 430px) {
  .page-container {
    height: 400px; 
  }

  .page-container h1 {
    font-size: 30px; 
  }

  .page-container p {
    font-size: 16px;
  }

  .page-container button {
    width: 180px;
  }

  .page-container button:hover {
    width: 200px;
  }
}

}



