.companies-container {
  
  background-color: #F5F5F5;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.call-imoveis-section {

  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.call-imoveis-section p {
  margin-bottom: 10px;
  font-size: 20px;
}

.call-imoveis-button{
  background-color: black;
  width: 80px;
  height: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 1s;
}

.call-imoveis-button:hover{
  background-color: white;
  width: 90px;
  height: 50px;
  color: black;
  transition: 1s;
}


@media (width <= 425px) {

  .call-imoveis-section p {
    margin-bottom: 10px;
    font-size: 12px;
  }
}
