.item-info-line {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
}

.item-info-container {
  padding-left: 5px;
}

.item-infos {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-value{
    font-size:40px;
}

.item-condominio {
    font-size: 25px;
}

.link-chamada {
  font-style: none;
  color: black;
}
